<footer>
    <section class="footer-section">
        <div class="footer f-1">
            <img src="static/assets/images/Bavaria-logo.svg" alt="footer-logo" class="footer-logo">
            <div>
                <img class="location-icon" src="static/assets/images/locationnn.svg" alt="">
                <p>
                    #40 Lateef Jakande road, Owu Ikosi. Off Ikorodu-Epe road, Iganke, Epe Lagos.
                </p>
            </div>
            <div>
                <img class="mail-icon" src="static/assets/images/envelope-solid.svg" alt="">
                <a href="#">info@baraviagroup.com</a>
            </div>
            <div>
                <img class="phone-icon" src="static/assets/images/phone.png" alt="">
                <p>+234 803 322 1935</p>
            </div>
        </div>
        <div class="footer f-2">
            <p>Company</p>
            <a href="">Services</a>
            <a href="#">About Us</a>
            <a href="#">Products</a>
            <a href="#">FAQs</a>
        </div>
        <div class="footer f-3">
            <p>Product</p>
            <a href="#">Poultry Products</a>
            <a href="#">Fish Products</a>
            <a href="#">Goat Products</a>
            <a href="#">Cattle Products</a>
        </div>
        <div class="footer f-4">
            <p>We're Social!</p>
            <div class="social-media-icons">
                <img src="static/assets/images/twtterrr.svg" alt="">
                <img src="static/assets/images/faceeebok.png" alt="">
                <img src="static/assets/images/instagram-icon.svg" alt="">
            </div>
            <p>Suscribe to updates to stay abreast of awesome events, new ands promo.</p>
            <div class="footer-form">  
                <input type="email" placeholder="Enter your email.." name="footer-mail" id="">
                <button type="submit">
                    <img src="static/assets/images/right-footer-arr.png" alt="">
                </button>     
            </div>
        </div>
    </section>
    <div class="footer-line">
        <a href="#" class="back-to-top">
            <img src="static/assets/images/backtop.svg" alt="">
        </a>
    </div>
    <p class="coppy">
        Copyright © Bavaria Construction 2022
    </p>
</footer>