<nav>
    <img src="static/assets/images/Bavaria-logo.svg" alt="">
    <div class="nav-links">
        <a class="nla" href="/">HOME</a>
        <a class="nla" href="/product">PRODUCTS</a>
        <a class="nla" href="/about-us">ABOUT US</a>
        <a class="nla" href="/blogs">BLOG</a>
        <a class="nav-btn"href="/contact-us">CONTACT US</a>
    </div>
    <div class="hamburger-icon">
        <span class="one"></span>
        <span class="two"></span>
        <span class="thr"></span>
    </div>
</nav>