{% extends 'base.html' %}

{% block content %}
<header>
    <h1>GET IN TOUCH</h1>
</header>
<main>
    <section class="contact-info">
        <h1>
            CONTACT INFO
        </h1>
        <div>
            <h4>ADDRESS</h4>
            <p>#40 Lateef Jakande road, Owu Ikosi. Off Ikorodu-Epe road, Iganke, Epe Lagos.</p>
        </div>
        <div>
            <h4>EMAIL</h4>
            <p>info@baraviagroup.com</p>
        </div>
        <div>
            <h4>PHONE NUMBER</h4>
            <p>+234 803 322 1935</p>
        </div>
    </section>
    <form action="">
        <a class="contactus-btn1" href="#">Contact Us</a>
        <input class="normal-input" type="text" placeholder="name">
        <input class="normal-input" type="email" name="" id="" placeholder="enter your email">
        <input class="normal-input" type="tel" name="" id="" placeholder="Phone numer">
        <textarea class="message-input" name="" id="" cols="30" rows="10" placeholder="message..."></textarea>
        <a class="contactus-btn2" href="#">Contact us</a>
    </form>
    
</main>

{% endblock %}